.gherkin-script{

  & .views-accordion-header{
    text-transform: capitalize;
    display: flex;

    & .ui-accordion-header-icon{
      margin-top: 0px;
      margin-right: 3px
    }
  }

  & .ui-state-active{
    background:#358FC8 ;
    color:#fff;
    
    

    & .ui-icon {
      background-image: url(../../images/ui-icons_ffffff_256x240.png)/*{iconsActive}*/;
    }
  }

  & .dropbutton-wrapper{
    float: right;
  }
}
