

  .gherkin-script .views-accordion-header{
    text-transform: capitalize;
    display: flex
  }
.gherkin-script .views-accordion-header .ui-accordion-header-icon{
      margin-top: 0px;
      margin-right: 0.16667rem
    }
.gherkin-script .ui-state-active{
    background:#358FC8 ;
    color:#fff
  }
.gherkin-script .ui-state-active .ui-icon {
      background-image: url(../../images/ui-icons_ffffff_256x240.png)/*{iconsActive}*/;
    }
.gherkin-script .dropbutton-wrapper{
    float: right;
  }
